@charset "UTF-8";
a {cursor: pointer;}
button { cursor: pointer;}
.Questions_container {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: auto;
  vertical-align: middle;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.Questions_banner {
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  height: 150px;
  margin: 40px 0;
}
.posting_list {
  position: relative;
  border: 1px solid #d8dee8;
  border-radius: 15px;
  height: 450px;
  background: white;
}
.Questions_btn {
  position: absolute;
  width: 130px;
  height: 40px;
  left:30px;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  bottom: 30px;
  display: inline-block;
  color: white;
}
.Questions_btn.right {
  left: 200px;
}
.Questions_table {
  position: absolute;
  width: 100%;
}
.Questions_table tr {
  height: 50px;
  border-bottom: 1px solid #d8dee8;
}
.Questions_table tr:last-child {
  border-bottom: none;
}
.Questions_table tr td {
  text-align: left;
  justify-content: center;
  vertical-align: middle;
}
.Q_date {
  width: 150px;
  right: 10px;
}
.Questions_table tr td.Q_no {
  width: 20%;
  padding: 0 0 0 20px;
}
.post_box {
  height: 100%;
  display: block;
  margin-top: 50px;
}
.title_box {
  display:block;
  margin: 20px 0;
}
textarea {
  word-break:break-all;
  width:100%;
  border: 1px solid #d8dee8;
}
.write_title {
  width: 100%;
  height: 30px;
  border: 1px solid #d8dee8;
}
label {
  margin: 5px;
  position: relative;
  display: inline-block;
}
.write_btn {
  width: 130px;
  height: 40px;
  margin-top: 20px;
  background-color: #6266b5;
  border: none;
  border-radius: 10px;
  color: white;
}
.write_btn_box {
  position: relative;
  display: block;
  width: 100%;
  bottom: -90px;
}
.Questions_title {
  border: 1px solid #d8dee8;
  border-radius: 10px;
  height: 50px;
  width: 100%;
}
.Questions_inner{
  border: 1px solid #d8dee8;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  display: block;
}
