.main-inner__container {
  padding: 43px 25px 43px 35px;
}
body {
  padding:1.5em;
  background: #f5f5f5;
}

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  max-height: 70%;
  border-collapse: collapse;
  border-radius: 5px;
  margin-top : 5px;
  overflow: hidden;
}

th {
  text-align: left;
  background-color: #f8f5ff;
}
  
thead {
  font-weight: bold;
  color: #73685d;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
  height: 65px;
}

a {
  color: #73685d;
}
.text_box {
	position: relative;
	width: 70%;
	height: 34%;
	background: #f8f5ff;
	display: flex;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin-top: 15px;
	overflow: auto
}

.table_flex {
	min-height: 63%;
	max-height: 63%;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
    overflow-x: hidden;
    overflow-y: scroll;
}
.time_span {
	font-size: 40px;
    color: #483D8B;
    display: block;
    height: 100%;
    line-height: 3.4;
}

    
.bottom_container {
	display: flex;
    height: 34%;
    position: relative;
}

.text_box {
	width: 70%;
	height: 100%;
	background: #f8f5ff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin-top: 15px;
	overflow : auto;
}

 .time_box {
 	width: 100%;
    height: 50%;
    background-color: #f8f5ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
    margin: 0 0 0 15px;
    display: flex;
    justify-content : center;
    align-content: center;
  
 }
 

.total_download_btn {
	margin-left: 14px;
    background-color: #4425a7;
    border-style: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 33px 28px;
    cursor: pointer;
}

.time_container {
	width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.dd_btn {
	display: flex;
    margin-top: 25px;
    margin-left: 15px;
}

.modal_btn {
    display: inline-block;
    height: 100%;
    line-height: 6;
    width: 50%;
    text-align: center;
    background: #4425a7;
    color: white;
    border-radius: 5px;
}

.delete:hover, .total_download_btn:hover {
	background : #2f245c;
}

.download_form {
	width: 50%;
}

.admin-nav{
	color: #09c0d0;
}

#copyBtn{
	position: absolute;
    bottom: -4%;
    right: 29.9%;
    border: 0;
    background: none;
    color: gray;
    cursor: pointer;
}

#copyBtn:hover {
	color: black;
}
@media (max-width : 390px) {
	.time_span {
	 font-size: 25px;
     margin-left: 0;
     margin-top: 13px;
	}
	.time_box {
	 width: 85px;
	 align-items: center;
	 text-align: center;
	}
	
	.dd_btn{
	  flex-direction: column;
	}
	
	.modal_btn {
	 height: 40px;
     width: 85px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 13px;
     margin-bottom: 10px;
     line-height: 0;
	}
	.total_download_btn {
	  height: 40px;
      width: 84px;
      margin: 0;
      padding: 0;
      font-size: 11px;
      align-items: center;
	}
	
}