@charset "UTF-8";
#modal1 {
	height : 200px;
}
.modal_body {
	text-align: center;
    margin-top: 70px;
}
.submit_btn {
	margin-left: 12px;
    background-color: #4425a7;
    border-style: none;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    color: white;
    padding-top: 9px;
}
.modal_delete {
	text-align: center;
	margin-top: 30px;
}

.yes_or_no {
	margin : 10px 0;
}

.delete_title {
	font-size : 16px;
}