@charset "UTF-8";
@import "./seven.css";
:root {
  --content-width: 1530px;
  --main-color: #4425a7;
}

*:focus{
  outline: none;
}

body {
  background-color: #f1eef9;
  height: calc(100vh);
  display: flex;
  overflow-x: hidden;
  align-items: center;
  background: linear-gradient(90deg, rgba(241,238,248,1) 0%, rgba(224,212,244,1) 46%, rgba(195,206,235,1) 100% );
}

.main_container {
  position: relative;
  width: var(--content-width);
  height: 800px;
  background-color: var(--main-color);
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 20px 35px 59px 20px rgba(149,145,199,1);
}

nav {
  width: 90px;
  height: 100%;
  position: relative;
  padding-top: 40px;
  z-index: 1;
}

nav > ul {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}

.admin_ul{
	justify-content: flex-end;
    height: 42%;
}

nav a.logo {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  font-size: 18px;
}

nav > ul > li i:hover {
	color : white;
}

nav > ul > li.active {
  background-color: #37179c;
  border-radius: 8px;
}

nav > ul > li > a {
  color: #09c0d0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

nav > ul > li > a > i{
    opacity: 1;
    height: 100%;
    width: 100%;
   	display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 88;
}

.nav_item{
	position: relative;
    height: 50px;
    width: 50px;
    text-align: center;
}

.hidden {
	position: absolute;
    display: inline-block;
    width: 67px;
    font-size: 12px;
    left: -8px;
    top: 26px;
    height: 100%;
    line-height: 50px;
}


.hidden.ques{
	left: -4px;
}

.admin-nav {
 margin-bottom:-600px;
}
.fa-cog:before, .fa-gear:before {
	font-size:25px;
}

.main-inner__container {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 90px);
  background-color: #ffffff;
  margin-right: -2px;
  height: 100%;
  border-radius: 50px;
  padding: 60px 25px 25px 72px;
}

/*햄버거 버튼*/
input[type="checkbox"]#gnbcheck {
  display: none;
}
#gnbbtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 9999;
  display: none;
  cursor: pointer;
  transition: .5s all;

}

#gnbbtn > span {
  position: absolute;
  top: 16px;
  height: 1.6px;
  width: 100%;
  transform: translateY( -50% );
  background: #f7666d;
}

#gnbbtn > span:nth-child(1) {
  top: 8px;
}

#gnbbtn > span:nth-child(3) {
  top: 24px;
}

input[type="checkbox"]#gnbcheck:checked ~ #gnbbtn {
	transform: rotate(90deg);
}

.modal a.close-modal.close_custom{
    position: inherit;
    display: inline-block;
    width: 50px;
    height: 30px;
    background-image: none;
    /* padding-bottom: 7px; */
    color: white;
    text-indent: 0;
    text-align: center;
    margin: 0;
    line-height: 19px;
}

.delete-modal{
    width: 50px;
    height: 30px;
    left: 30px;
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    bottom: 30px;
    display: inline-block;
    color: white;
    font-family: 'OTWelcomeRa';
    font-size: 16px;
    padding-top: 10px;
    margin-right: 20px;
    transition: .1s Ease-in all;
}

#Progress_Loading
{
 position: absolute;
 left: 50%;
 top: 50%;
 background: #ffffff;
 z-index: 999;
}

.all_wrap{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
}

.all_wrap.active {
	display: block;
	z-index: 998;
}

@media all and ( max-width: 790px ) {
  #mobile-close-btn {
    display: block;
  }
  #gnbbtn {
    display: block;
  }
   input[type=checkbox]#gnbcheck:checked ~ .gnb {
    left: 0;
  }
  .main-inner__container {
  	width: 100%;
  }
  .main_container {
    position: inherit;
    width: 0%;
  	height: 100%;
  }
  .gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: -100%;
    background: rgb(195, 206, 235, 0.9);
    transition: .5s ease-in-out;
    z-index: 900;
  }
  nav {
    width: 100%;
    display: block;
    position: absolute;
    height: 100%;
  }
  .Questions_container .Questions_banner{
  	display: block;
  	padding-top: 30px;

  }
  nav > ul > li > a {
    color: #4425a7;
  }
  .Questions_banner button {
    top: 20px;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .Questions_banner form{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  form .search_box{
  	display: block;
  	text-align: center;
  }
  
  th:first-child {
  width: 20% !important;
  }
  
  table {
  font-size: 14px;
  }
  
  tr td:nth-of-type(3), tr td:nth-of-type(4) {
   font-size: 10px;
  }
  
  .main-inner__container {
  	padding: 60px 10px;
	}
}
