@charset "UTF-8";
.textInput {
    width: 92%;
    height: 360px;
    border: none;
    background-color: #F8F5FF;
    resize: none;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 365px;
    overflow-y: hidden;
}
.input-container{
    display: flex;
    width: 100%;
}

.textarea, .filearea {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.textarea{
    width: calc(40% - 10px);
    flex-grow: 0;
}

.filearea {
    width: 60%;
    margin-right: 10px;
}

#uploadForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#dropZone{
    width: 100%;
    height: 140px;
    background-color: #F8F5FF;
    border-radius: 30px;
    height: 370px;
    cursor: pointer;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#fileDragDesc {
    display: inline-block;
    transform: translateY(165px);
    line-height: 20px;
}

#fileListTable{
    width: 100%; 
    height: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 5px; 
    background-color: #F8F5FF;
    text-align: center; 
    border-radius: 30px;
}

.textarea_inner{
    display: flex;
    justify-content: space-between;
}

.textarea-p > span{
    display: inline-block;
    font-size: 20px;
    margin: 0 0 10px 20px;
    font-weight: bold;
}

.delete_all{
    height: 25px;
    border: none;
    margin-top: -5px;
    background: #321196;
    color: white;
    border-radius: 8px;
    margin-right: 50px;
}

.file_input_grp{
    display: flex;
    width: 33%;
    text-align: center;
    margin: 55px auto 20px;
}

.banner_container{
    position: absolute;
    height: calc(100% - 110px);
    right: 72px;
    width: 25%;
    top: 60px;
}

.banner_inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.banner {
    height: 60%;
    width: 100%;
    background-color: #321196;
    border-radius: 30px;
}

.banner:nth-child(2) {
    margin-top: 20px;
    height: 40%;
    background-color: #666666;
}

.ad_box {
    display: inline-block;
    width: 60%;
    height: 120px;
    background-color: tomato;
    margin-top: 30px;
}

.input_label {
    line-height: 20px;
    margin-right: 5px;
}

.input_passwd {
    border: none;
    border-bottom: 1px solid #EEEAF9;
    padding: 8px;
}

.submit_file{
    border: none;
    background-color: #EEEAF9;
    border-radius: 10px;
    padding: 8px;
    color: #666666;;
    font-weight: bold;
}

#fileTableTbody{
    height: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.fileLi {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    background: #b2b1b3;
    padding: 5px;
    margin-right: 10px;
}

.file-item {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.file_input{
    width: 50px;
    border: none;
    background-color: #8a7bb7;
    color: white;
    font-weight: normal;
    border-radius: 10px;
}

.file_name{
    display: inline-block;
    width: 100%;
    min-height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file_name:hover{
    overflow: hidden;
    text-overflow: inherit;
    width: auto;
}

.file_size {
    margin: 5px 0 5px;
}

.file_btn_grp {
	display: flex;
	justify-content: flex-end;
}

#root {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .title {
    text-align: center;
  }
  
  .contents {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .contents .upload-box {
    width: calc(50% - 15px);
    box-sizing: border-box;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contents .upload-box .drag-file {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px dashed #dbdbdb;
  }
  .contents .upload-box .drag-file.highlight {
    border: 3px dashed red;
  }
  .contents .upload-box .drag-file .image {
    width: 40px;
  }
  .contents .upload-box .drag-file .message {
    margin-bottom: 0;
  }
  .contents .upload-box .file-label {
    margin-top: 30px;
    background-color: #4425A7;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 65%;
    border-radius: 6px;
    cursor: pointer;
  }
  #input_file {
    display: none;
  }
  
  .contents .files {
    width: calc(50% - 15px);
    box-sizing: border-box;
    overflow: auto;
    height: 360px;
    margin-left: -20px;
    border-radius: 30px;
    border: 3px dashed #dbdbdb;
  }
  .contents .files .file {
    display: flex;
    padding: 20px 20px;
    border-bottom: 1px solid #dbdbdb;
  }
  .contents .files .file:last-child {
    margin-bottom: 0px;
    border-bottom: none;
  }
  
  .contents .files .file .thumbnail {
    display: flex;
    flex: none;
    width: 50px;
    margin-right: 20px;
    align-items: center;
  }
  .contents .files .file .thumbnail .image {
    width: 100%;
  }
  
  .contents .files .file .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contents .files .file .details .header {
    display: flex;
  }
  .contents .files .file .details .header .name {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .contents .files .file .details .header .size {
    margin-left: auto;
  }
  
  .contents .files .file .progress {
    position: relative;
    height: 6px;
    background-color: #dbdbdb;
    overflow: hidden;
    margin-top: 4px;
    border-radius: 10px;
  }
  .contents .files .file .progress .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #5b975b;
  }
  
  .contents .files .file .status {
    display: flex;
    width: 100%;
  }
  .contents .files .file .status .speed {
    margin-left: auto;
  }
  
  @media(max-width: 700px) {
    .contents {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    .contents .upload-box {
      width: 100%;
      box-sizing: border-box;
      margin-right: 0;
    }
    .contents .upload-box .drag-file {
      height: 150px;
    }
    .contents .files {
      width: 100%;
      box-sizing: border-box;
      margin-right: 0;
      overflow: initial;
    }
  }